export(
       as.phe, as.ped, as.pedlist,
       is.phe, is.ped, is.pedlist,
       read.ped, read.phe, write.ped, write.phe,
       
       pbat.create.commandfile,
       pbat.files, pbat.obj, pbat.m,
       
       pbat.get, pbat.set,

       pbat.getmode, pbat.setmode, pbat.setmode.defaults,

       pbat, pbat.last, pbat.last.rawResults,

       pbat.clean,

       is.finished, pbat.load, pbat.concatenate,

       pbat.generateData,

       pbat.power, pbat.binaryFamily, pbat.continuousFamily, pbat.caseControl, pbat.popQuant,

       pbat.help,

       write.pbat, write.pbat.csv
       )

import( tcltk )

S3method( print, pbat )
S3method( summary, pbat )
S3method( plot, pbat )

S3method( print, phe )
S3method( print, ped )
S3method( print, pedlist )

useDynLib(pbatR)
